<configuration>
    <!-- Appender para arquivo, só grava suas mensagens -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/app.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <!-- Apenas a mensagem -->
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <!-- Apenas log do seu pacote irá para o arquivo -->
    <logger name="com.e.safeip.safeip" level="INFO" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <!-- Console continua mostrando todos os logs -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
